# Configuration file for `prek`, a git hook framework written in Rust.
# See https://prek.j178.dev for more information.
#:schema https://www.schemastore.org/prek.json

default_install_hook_types = [
  "pre-commit",
  "commit-msg"
  ]
default_stages = ["pre-commit"]

[[repos]]
repo = "https://github.com/pre-commit/pre-commit-hooks"
rev = "v6.0.0"
hooks = [
  { id = "check-added-large-files" },
  { id = "check-case-conflict" },
  { id = "check-executables-have-shebangs" },
  { id = "check-json" },
  { id = "check-merge-conflict" },
  {
    id = "check-shebang-scripts-are-executable",
    exclude = '.*\.rs$'
  },
  { id = "check-symlinks" },
  { id = "check-toml" },
  { id = "check-vcs-permalinks" },
  { id = "check-xml" },
  { id = "check-yaml" },
  { id = "debug-statements" },
  { id = "destroyed-symlinks" },
  {
    id = "detect-aws-credentials",
    args = ["--allow-missing-credentials"]
  },
  { id = "detect-private-key" },
  { id = "end-of-file-fixer" },
  { id = "fix-byte-order-marker" },
  { id = "mixed-line-ending" },
  { id = "pretty-format-json" },
  { id = "trailing-whitespace" }
]

[[repos]]
repo = "https://github.com/crate-ci/typos"
rev = "v1.43.5"
hooks = [
  { id = "typos" }
]

[[repos]]
repo = "https://github.com/google/yamlfmt"
rev = "v0.21.0"
hooks = [
  { id = "yamlfmt" }
]

[[repos]]
repo = "https://github.com/doublify/pre-commit-rust"
rev = "v1.0"
hooks = [
  { id = "fmt" },
  {
    id = "cargo-check",
    args = [
      "--workspace",
      "--all-targets"
    ]
  },
  {
    id = "clippy",
    args = [
      "--workspace",
      "--all-targets",
      "--",
      "-D",
      "warnings"
    ]
  }
]

[[repos]]
repo = "https://github.com/commitizen-tools/commitizen"
rev = "v4.13.8"
hooks = [
  { id = "commitizen" }
]
