name: CI
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -Dwarnings
  # setup sccache for Rust; see https://github.com/Mozilla-Actions/sccache-action
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  check_project_files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Restore lychee cache
        uses: actions/cache@v5
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - uses: lycheeverse/lychee-action@v2
        with:
          args: "--cache --max-cache-age 1d . -v *.md"
          failIfEmpty: false

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "${{ github.workflow }}"

      - uses: mozilla-actions/sccache-action@v0.0.9

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt, clippy

      - run: cargo verify-project

      - name: Detect unused dependencies
        uses: bnjbvr/cargo-machete@v0.9.1

      - run: cargo fmt --check --all
      - run: cargo clippy --workspace --all-targets -- -D warnings
      - run: cargo check --workspace --all-targets --future-incompat-report
      - run: cargo doc --no-deps --workspace --document-private-items
      - run: cargo build --workspace --verbose
      - run: cargo test --benches --workspace --verbose
